/* NAVBAR BASE */
:root {
  /* --primary-color: #0F5F3D; */
  --primary-color: #B8913F;
  --secondary-color: #6c757d;
  --text-color: #212529;
  --background-light: #f8f9fa;
  --white: #ffffff;
  --shadow-light: 0 4px 12px rgba(0, 0, 0, 0.08);
  --transition-speed: 0.3s;
  --button-clr: #2C9993;
  --hover-clr:#247A75;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: var(--background-light);
  color: var(--text-color);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    background: white;
    border-bottom: 1px solid #eee;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    font-size: 22px;
    font-weight: 700;
    text-decoration: none;
    color: #2b2b2b;
}

/* DESKTOP LINKS */
.nav-links {
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 500;
}

/* HAMBURGER BUTTON */
.hamburger {
    display: none;
    font-size: 26px;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--primary-color);
}

/* --- MOBILE VIEW --- */
@media (max-width: 768px) {

    .hamburger {
        display: block;
    }

    .nav-links {
        position: absolute;
        top: 65px;
        left: 0;
        width: 100%;
        background: white;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 15px;
        padding-bottom: 15px;
        gap: 15px;

        display: none; /* Hidden by default */
    }

    .nav-links.show {
        display: flex; /* Show when menu is open */
    }

    .nav-links a{
        padding-left: 25px;
    }
}
@media (max-width: 768px) {
  .hero h1 {
    font-size: 30px !important;
    line-height: 1.3;
  }

  .hero p {
    font-size: 16px !important;
  }
}